body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    
}

.header {
    background-color: #333;
    box-shadow: 0 2px 4px #333;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.button, .pay-button, .search-button {
    padding: 10px 20px;
    background-color: black; 
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; 
    width: 100%; 
}

.button:hover, .pay-button:hover, .search-button:hover {
    background-color: green;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1; 
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    width: calc(100% - 110px); 
    margin-right: 10px;
}

.shopping-cart {
    background-color: black;
    margin: 20px auto;
    width: 90%; 
    max-width: 600px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    position: relative;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #444;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-image {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

.product-details h3, .product-details p {
    margin: 0;
    color: white;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    text-align: center;
}

.quantity-button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.quantity-button:hover {
    background-color: #333;
}

.quantity-button.increment {
    margin-left: 5px;
}

.quantity-button.decrement {
    margin-right: 5px;
}

.remove-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: darkred;
}

h2 {
    color: white;
}


@media (max-width: 768px) {
    .header {
        padding: 10px;
        flex-direction: column; 
        align-items: stretch; 
    }

    input[type="text"] {
        width: 100%; 
        margin: 0 0 10px 0; 
    }

    .shopping-cart {
        width: 95%; 
    }

    .product-details h3 {
        font-size: 14px;
    }

    .search-button {
        width: auto; 
    }

    .quantity {
        width: 40px; 
    }

    .quantity-button {
        font-size: 14px; 
    }
}
