footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: static;
    bottom: 0;
    width: 100%;
}