
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}


.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons button {
    margin-left: 10px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 8px;
    margin-top: 20px;
}

.profile-icon {
    text-align: center;
    padding-right: 20px;
    border-right: 1px solid #eee; 
}

.fa-user-circle {
    color: black; 
    margin-bottom: 10px;
}

.profile-options {
    width: 100%;
    padding-left: 20px;
}

.profile-options h1 {
    margin-top: 0;
    font-size: 1.2em; 
}


.profile-options h2 {
    margin-top: 0;
}

.icons .btn-save {
    margin-top: 10px; 
    margin-left: auto; 
}


.profile-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.profile-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1em; 
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="tel"] {
    width: 100%; 
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 2px;
}


@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        padding: 20px;
    }

    .profile-icon,
    .profile-options {
        border-right: none;
        padding-right: 0;
        text-align: center;
        padding-left: 0;
    }

    .profile-icon {
        margin-bottom: 20px;
    }

    .profile-options h1 {
        font-size: 1em; 
    }

    .profile-form label {
        font-size: 0.9em; 
    }
}

.icons .btn-save {
    margin-top: 10px; 
    margin-left: auto; 
    background-color: #333; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 8px 16px; 
    cursor: pointer; 
}

.icons .btn-save:hover {
    background-color: #333; 
}
