
.filtro {
    float: left; 
    width: 200px; 
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.filtro-option {
    margin-bottom: 15px;
}

.filtro-option label {
    display: block;
    margin-bottom: 5px;
}

.filtro-option select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}


#catalog {
    margin-left: 240px; 
}

.filtro {
    background-color: #333;
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 20px;
    color: white;
}

.filtro-option {
    margin-bottom: 15px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-container button:hover {
    background-color: black;
}