
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}


.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button, .search-button {
    padding: 10px 20px;
    background-color: black; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover, .search-button:hover {
    background-color: green;
}

.search-bar {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #333;
}


.shopping-cart {
    background-color: white;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    position: relative;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-image {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

.product-details {
    flex-grow: 1; 
    margin-left: 20px; 
}

.product-name {
    margin: 0;
    text-align: center; 
}

.product-details h3, .product-details p {
    margin: 0;
    color: #333;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="text"] {
        width: 100%;
        margin-right: 0; 
    }

    .cart-item {
        flex-direction: column;
        text-align: center; 
    }

    .product-image {
        margin-bottom: 10px; 
    }

    .product-details {
        margin-left: 0; 
    }
}


@media (max-width: 576px) {
    .button, .search-button {
        font-size: 14px; 
    }
}

