/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url('../img/fondo_camuflaje.jpg');
}

.login-container {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #333;
    width: 300px; /* Ancho del contenedor */
    text-align: center; /* Alineación del texto */
}

.form-control {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 16px); /* Ancho del input */
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.admin-button {
    margin-top: 10px; /* Espacio entre los botones y el botón de administrador */
    text-align: right; /* Alineación del botón de administrador */
}
