body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    min-height: 100vh;        /* Utilizamos min-height para que el cuerpo siempre tenga al menos el tamaño de la pantalla */
    background-image: url('../img/fondo_camuflaje.jpg');
}

.payment-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    max-width: 100%;  /* Para asegurar que no se desborde en pantallas pequeñas */
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.back-button:hover {
    background-color: black;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 0; /* Eliminamos el margen superior del título */
    margin-bottom: 20px; /* Agregamos un margen inferior para separar del formulario */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

input[type="text"],
input[type="month"] {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.pay-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.pay-button:hover {
    background-color: green;
}
