body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.buttons {
    text-align: center;
}

.buttons button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #e74c3c;
    color: #fff;
}

.block-btn {
    background-color: #3498db;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 10px;
    }
    table {
        font-size: 14px; 
    }
}